loveenv/
.coverage
.coveragerc
htmlcov
.env
errors.log
info.log
staticfiles/

# ignoring app caches and migrations to avoid conflict during deployment
!**/__pycache__**
**/__pycache__/**
**/migrations/**
!**/migrations
!**/migrations/__init__.py

*.sqlite
test*
to do.txt
*.zip
*.csv